@import 'bootstrap';
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('fonts/glyphicons-halflings-regular.eot');
  src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('fonts/glyphicons-halflings-regular.woff') format('woff'), url('fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  background-color:rgba(14,13,13, 0.01);
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

$grayMediumLight: #eaeaea;
$grayLight: #999;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

textarea{
	width :800px;
	height: 290px;
}
#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}
#userlogin{
  padding-top: 9px;
  line-heigth: 1;
  a{
    color: rgba(234, 51, 51, 0.96);
  }
}
footer {
  text-align:center;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
}
div.minhe {
  min-height:450px;
}

.snippets {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    cursor:pointer;
    padding: 10px 10px;
    border: 1px solid #e8e8e8;
    background-color:rgba(188,228,188,0.2);
    &:hover{
      background-color: rgb(248,248,248);
    }
    a:hover{
      text-decoration:none;
    }
  }
}
.content {
  display: block;
}
.timestamp {
  color: $grayLight;
}
.alert{
  text-align:center;
}
.statics{
  text-align:left;
  padding:1px 15px;
  width:200px;
  &:nth-child(odd){
    background-color:rgba(255, 171, 0, 0.1);
  }
}
#hohohaha{
  position: fixed;
  left: 21%;
  top: 13%;
  margin-left: -300px; /*half the width*/
  li{
    &:nth-child(3n+1){
      .badge{
        background-color: rgba(8, 0, 141, 1);
      }
    }
    &:nth-child(3n+2){
      .badge{
        background-color: rgba(8, 0, 141, 0.6);
      }
    }
  }
}
input.fixinput{
  width:220px;
  height:30px;
}